<h1>コミュニティカード</h1>
<% @community.cards.each do |card| %>
  <%= image_tag "/#{card.suit}#{card.number}.png", width:"70", height:"105" %>
<% end %>


<h1>あなたの手札</h1>
<% @player.cards.each do |card| %>
  <%= image_tag "/#{card.suit}#{card.number}.png", width:"70", height:"105" %>
<% end %>
