// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show_hand_name{
  display: none;
  color: red;
}
.text-center{
  padding-bottom: 15px;
}
.dealer-action{
  padding-bottom: 24px;
}

.player_start_btn{
  display: none;
}
.community_card_field{
  padding: 70px 0px;
  border-style: outset;
  border-radius: 35px;
  background-color: #FA9996;
}
.show_community_card{
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 2px 2px 4px gray;
  width: 70px;
  height: 105px;
  border-radius: 5px;
  display: none;
}
.community_card{
  display: inline-block;
  position: relative;
  width: 70px;
  height: 105px;
  box-shadow: 2px 2px 4px gray;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.show_hole_card, .others_hole_card{
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 2px 2px 4px gray;
  margin-left: 1px;
  margin-right: 1px;
  width: 70px;
  height: 105px;
  border-radius: 5px;
  display: none;
}
.hole_card{
  display: inline-block;
  position: relative;
  width: 70px;
  height: 105px;
  box-shadow: 2px 2px 4px gray;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 5px;
}
.hole_card_field, .player_field{
  text-align: center;
  display: inline-block;
  padding: 0px 15px;
}
.container{
  margin-top: 30px;
}
