// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_hand_name{
  padding-top: 10px;
  color: red;
}
.text-center{
  padding-bottom: 15px;
}
.dealer-action{
  padding-bottom: 30px;
}
.community_card_field{
  box-shadow: 2px 2px 4px gray;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.show_hole_card{
  box-shadow: 2px 2px 4px gray;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 5px;
}
.hole_card{
  box-shadow: 2px 2px 4px gray;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 5px;
}

.hole_card_field{
  display: none;
}
.community_card_field{
  display: none;
}
.container{
  margin-top: 30px
}
